
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="assets/harsh.jpeg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h1 style="color:black;">Harsh Pandey</h1>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Gurugram, India</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>kharsh032@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>9958564714</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Data Structure and Algorithms</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p>Java Springboot</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">
              <div class="w3-center w3-text-white">70%</div>
            </div>
          </div>
          <p>C/C++</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p>Python,Numpy,Pandas</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
          </div>
          <p>Javascript</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%</div>
          </div>
          <p>Git</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height:22px;width:90%"></div>
          </div>
          <p>Hindi</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height:22px;width:100%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
       <!-- <div class="w3-container">
          <h5 class="w3-opacity"><b>Software Developer Engineer / Rackspace</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Apr 2020 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p></p>
          <hr>
        </div> -->
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Programmer - Fidelity International</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jul 2019 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <section>
            <ul>
              <li>Working on development of an Application.</li>
              <li>Responsible for developing and implementing processes.</li>
              <li>Enhancement in modules in applications.</li>
              <li>Support to BAU activities.</li>
            </ul>
          </section>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Software Intern - Fidelity International</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2018 - Jul 2018</h6>
          <section>
            <ul>
              <li>Worked with a Data scientist team in a project to identify incident in a critical service.</li>
              <li>Involved in Exploratory data analysis.</li>
              <li>Used Machine Learning models to identify a potential incident before it impacts customer experience by detecting anomalies against historical trends.</li>
            </ul>
          </section>
          <hr>
        </div>
      <!--  <div class="w3-container">
          <h5 class="w3-opacity"><b>Internship(Android Developer) / HCL Infosystems</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2016 - Jul 2017</h6>
          <p>Responsible for the development of the authentication system for Transport android app.</p><br>
          <hr>
        </div>-->
      </div>
      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Projects</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Online Quiz Mania</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2017 - Jul 2017</h6>
          <section>
            <ul>
              <li>This is a simple Java web application to give online quiz of Programming languages.</li>
              <li>A individual can signup by providing basic details and give test to check his/her knowledge related to a specific programming language.</li>
            </ul>
          </section>
          <hr>
        </div> 
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Proactive Incidence Identification</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2018 - Jul 2018</h6>
          <section>
            <ul>
              <li>This is a project to identify incident in a critical service before it impacts user experience.</li>
              <li>Model was giving conversion rate of 35% with 100% accuracy(not missing any incident).</li>
              <li>Successfully reduced incident alerts in a service by 95%.</li>
            </ul>
          </section>
          <hr>
        </div> 
        <div class="w3-container">
          <h5 class="w3-opacity"><b>SPARK- Virtual Assistant</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2019 - May 2019</h6>
          <section>
            <ul>
              <li>This is a chatbot which can give information related to CSE department of DCRUST College.</li>
              <li>It is AIML based chatbot created using Python.</li>
            </ul>
          </section>
          <hr>
        </div> 
        <div class="w3-container">
          <h5 class="w3-opacity"><b>WI Operations Portal</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2019 - May 2019</h6>
          <section>
            <ul>
              <li>This is a Web portal created in organisation while training for money transfer of users from one Funds to another .</li>
            </ul>
          </section>
        </div>  
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Achievements</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Facebook Hacker Cup</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jul 2020</h6>
          <p>Secured 3247 rank globally in qualification round</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Coursera</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2019</h6>
          <p>Python Data Structure Certification</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Udacity</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Nov 2019</h6>
          <p>Udacity Nanodegree Cloud Devops Scholarship receipient</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Google Assistant Developer Program</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2019</h6>
          <p>Developed a Google Action </p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Codechef Snackdown</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2017</h6>
          <p>Secured 2591 rank in Codechef Snackdown 2017 elimination round</p><br>
        </div>
        
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Deenbandhu Chhotu Ram University of Science and Technology, Murthal</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015 - 2019</h6>
          <p>Secured 8.2 CGPA in Bachelor</p>
          <p>1st Division</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>St. Columbus School, Faridabad</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2012 - 2014</h6>
          <p>Secured 93.6% in Sr. Secondary School</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Panchsheel Public School</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2012</h6>
          <p>Secured 9.8 CGPA in Class X</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <a href="https://www.facebook.com/harsh03/" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>	&nbsp;
  <a href="https://www.instagram.com/harsh032/" target="_blank"><i class="fa fa-instagram w3-hover-opacity"></i></a>	&nbsp;
  <a href="https://twitter.com/_harsh_pandey/" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i></a>	&nbsp;
  <a href="https://www.linkedin.com/in/harsh-pandey-740613138/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>	&nbsp;
  <br>
</footer>


